body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(110, 110, 235, 0.726);
    /* usa o modelo flexBox, conceito para posicionamento */
    display: flex;
    align-items: center; /*centraliza verticslmente */
    justify-content: center; /* centraliza verticalmente */
    height: 100vh; /* define a altura da tela - 100% */
}
.card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-align: center;
}
button{
    background:red;
    color: white;
    border: none;
    padding: 10px 15px; /*10px superior */
    border-radius: 5px; /*borda */
    cursor: pointer; /* ponteiro do mouse */
}
button:houver{
    background-color: blue;

}
.image{
    border-radius: 50%; /*cantos arredados 50% */
    width: 100px; /* largura da imagem */
    height: 100px; /* altura da imagem */
    margin-bottom: 10px; /* espaçamento externo a baixo */
}